data/ 

notebooks/legacy/
notebooks/benchmarking_code/legacy/

results/backup*/
results/legacy/

Anirban processing/ 

.venv

# OS / editor / build artifacts
.DS_Store
__pycache__/
*.egg-info/
.ipynb_checkpoints/
